<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.valeo.bleranging">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:allowBackup="true">
        <service
            android:name="com.valeo.bleranging.bluetooth.BluetoothLeService"
            android:enabled="true" />
        <service
            android:name="com.valeo.bleranging.bluetooth.BluetoothLeService2"
        android:enabled="true"/>
    </application>
</manifest>
