<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.valeo.bleranging">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <application android:allowBackup="true">
        <receiver android:name="com.valeo.bleranging.utils.CallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.valeo.bleranging.bluetooth.bleservices.BluetoothLeService"
            android:enabled="true" />
        <service
            android:name="com.valeo.bleranging.bluetooth.bleservices.BluetoothLeServiceForPC"
            android:enabled="true" />
        <service
            android:name="com.valeo.bleranging.bluetooth.bleservices.BluetoothLeServiceForRemoteControl"
            android:enabled="true" />
    </application>
</manifest>
